.button {
	inline-size: 0.9881rem;
	block-size: 0.9881rem;
	background: transparent;
	border: none;
	font-size: 0.75rem;
	cursor: pointer;
	padding: 0;
	display: grid;
	align-content: center;
}

@media screen and (min-width: 1000px) {
	.button {
		inline-size: 1.5rem;
		block-size: 1.5rem;
		font-size: 1.5rem;
	}
}
