/* inter-regular - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/inter-v7-latin-regular.woff2') format('woff2'),
		url('../assets/fonts/inter-v7-latin-regular.woff') format('woff');
}
/* inter-500 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src: url('../assets/fonts/inter-v7-latin-500.woff2') format('woff2'),
		url('../assets/fonts/inter-v7-latin-500.woff') format('woff');
}
/* inter-600 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url('../assets/fonts/inter-v7-latin-600.woff2') format('woff2'),
		url('../assets/fonts/inter-v7-latin-600.woff') format('woff');
}
/* inter-700 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/fonts/inter-v7-latin-700.woff2') format('woff2'),
		url('../assets/fonts/inter-v7-latin-700.woff') format('woff');
}
/* inter-900 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	src: url('../assets/fonts/inter-v7-latin-900.woff2') format('woff2'),
		url('../assets/fonts/inter-v7-latin-900.woff') format('woff');
}

:root {
	--black: #000000;
	--primary: #006bff;
	--skyblue: #dbe9ff;
	--grey-bg: #fbfbfb;
	--grey: #cecece;
	--white: #ffffff;
	--fontBase: Inter, sans-serif;
	--day: 400 6rem/5.375rem var(--fontBase);
	--small: 400 0.5763rem/0.9881rem var(--fontBase);
	--medium: 400 0.6587rem/21.08px var(--fontBase);
	--desktop-h1: 900 5.625rem/5.625rem var(--fontBase);
	--desktop-h2: 900 3.25rem/4.0625rem var(--fontBase);
	--desktop-h3: 900 2.5rem/3rem var(--fontBase);
	--desktop-h4: 900 2rem/2.5rem var(--fontBase);
	--desktop-h5-black: 900 1.5rem/2rem var(--fontBase);
	--desktop-h5-medium: 500 1.5rem/2rem var(--fontBase);
	--desktop-body1-regular: 400 1.125rem/2.25rem var(--fontBase);
	--desktop-body1-medium: 500 1.125rem/2.25rem var(--fontBase);
	--desktop-body2-regular: 400 1rem/2rem var(--fontBase);
	--desktop-body2-bold: 600 1rem/2rem var(--fontBase);
	--desktop-body3-regular: 400 0.875rem/1.5rem var(--fontBase);
	--desktop-body3-semibold: 600 0.875rem/1.5rem var(--fontBase);
	--desktop-buttons: 700 0.875rem/1.75rem var(--fontBase);
	--mobile-h1: 900 3.125rem/3rem var(--fontBase);
	--mobile-h2: 900 2.5rem/4.045rem var(--fontBase);
	--mobile-h3: 900 2rem/3.236rem var(--fontBase);
	--mobile-h4: 900 1.5rem/2.427rem var(--fontBase);
	--mobile-h4regular: 400 1.5rem/2.427rem var(--fontBase);
	--mobile-h5medium: 500 1.25rem/2.0225rem var(--fontBase);
	--mobile-h5black: 900 1.25rem/2.0225rem var(--fontBase);
	--mobile-body1regular: 400 1.125rem/1.82025rem var(--fontBase);
	--mobile-body1medium: 500 1.125rem/1.81875rem var(--fontBase);
	--mobile-body2regular: 400 1rem/1.5rem var(--fontBase);
	--mobile-body2bold: 700 1rem/1.5rem var(--fontBase);
}

.body {
	background: var(--primary);
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-inline-size: 22.5rem;
	color: var(--black);
}
