.selected-date {
	background: var(--black);
	padding-block: 2rem;
	padding-inline: 2.8125rem;
}

.selected-date__info {
	color: var(--white);
	font: var(--desktop-h5-medium);
	text-align: center;
}

.selected-date__day {
	display: block;
	font: var(--day);
	margin-block-end: 0.5rem;
}
